.active-over-time {
  & .loading {
    font-size: 100px;
  }

  & [class*="data-point"]:hover {
    cursor: pointer;
  }

  & .legend {
    // atodo why is the height of the checkboxes so big??
    flex-basis: 40%;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    flex-wrap: wrap;

    margin-top: 3%;
    padding: 1%;
    border: 1px solid black;

    & .hovered {
      background-color: #bbbbbb;
    }

    & .grocer-checkbox {
      margin: 1px 5px;
      flex-basis: 18%;

      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: stretch;
      height: max-content;
      border-radius: 5px;

      &:hover {
        background-color: #bbbbbb;
        cursor: pointer;
      }

      & .checkbox {
        height: 20px;
        width: 20px;
        border-radius: 5px;
        margin-right: 5%;
        padding-top: 1px;
        text-align: center;
        font-family: sans-serif;
        color: white;
        text-shadow: 1px 1px black;

        &:hover {
          cursor: pointer;
        }
      }

      & label {
        height: min-content;
        flex-basis: 70%;
        display: flex;
        flex-direction: row;
        justify-content: stretch;

        text-overflow: ellipsis;
        overflow-x: hidden;
        white-space: nowrap;
        
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.date-range-render {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;

  & div {
    margin: 5px;
  }
}