@import "colors";

.counts-by-brand {

  & .counts-content {  
    flex-basis: 90%;
    width: 100%;
    padding: 0px 2.5%;
    display: flex;
    flex-direction: row;
    justify-content: stretch;

    & .data-wrapper {
      flex-basis: 75%;
    }

    & .legend {
      margin-left: 5%;
      flex-basis: 25%;
      border: 1px solid black;

      & .legend-brand {
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        padding: 1%;

        &:hover {
          cursor: pointer;
          background-color: #cccccc;
        }

        & .brand-color {
          flex-basis: 10%;
          border: 1px solid black;
          margin-right: 5%;
        }
      }
    }

    & .coupon-stacked-tooltip {
      font-size: 12px;
      font-family: sans-serif;
    }
  }
}

