@import "colors";

nav {
  margin-top: 10px;
  flex-basis: 5%;
  
  .nav-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
  
    & .nav-link {    
      a {
        padding: 10px;
        text-decoration: none;
  
        &:hover {
          background-color: #cccccc;
        }
      }
    }
  }
}