.savings-by-brand {
  .data-wrapper {
    border: 1px solid #aaaaaa;

    & .legend-label {
      &:hover {
        cursor: pointer;
      }
    }
  }
  & .data-buttons {
    margin-top: 10%;

    & .date-slider-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;

      & .date-range-render {
        margin-bottom: 5%;
      }
    }
  }
}