@import "reset";
@import "colors";
@import "nav_bar";
@import "description";
@import "data_vis";
@import "breaking_bad";
@import "counts_by_brand";
@import "active_over_time";
@import "savings_by_brand";
@import "savings_tiers_by_brand";

#root, body, html {
  height: 100%;
  width: 100%;
  font-family: 'Abel', sans-serif;
  background-color: #eeeeee;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

a:visited {
  color: black;
}

.header {
  margin-top: 5px;
}