html {
  box-sizing: border-box;
  font-size: 16px; }

*, *:before, *:after {
  box-sizing: inherit; }

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal; }

ol, ul {
  list-style: none; }

img {
  max-width: 100%;
  height: auto; }

nav {
  margin-top: 10px;
  flex-basis: 5%; }
  nav .nav-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center; }
    nav .nav-links .nav-link:hover {
      background-color: #cccccc; }
    nav .nav-links .nav-link a {
      padding: 10px;
      text-decoration: none;
      text-align: center; }

.description {
  padding: 5% 10%; }
  .description h1 {
    text-align: center; }
  .description ul {
    list-style-type: square; }

.data-vis {
  flex-basis: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  padding: 0px 50px;
  margin-top: 10px;
  width: 100vw;
  background-color: #eeeeee; }
  .data-vis .tooltip {
    font-size: 20px;
    font-family: sans-serif; }
  .data-vis .data-wrapper {
    flex-basis: 50%;
    width: 100%; }
    .data-vis .data-wrapper svg {
      overflow: visible; }
  .data-vis .data-buttons {
    width: 100%;
    flex-basis: 10%;
    margin-bottom: -10%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .data-vis .data-dropdown {
    margin-top: 40px; }

.data-dropdown {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
  margin-top: 1% !important; }

.breaking-buttons {
  margin-top: 1%;
  display: flex; }

.counts-by-brand .counts-content {
  flex-basis: 90%;
  width: 100%;
  padding: 0px 2.5%;
  display: flex;
  flex-direction: row;
  justify-content: stretch; }
  .counts-by-brand .counts-content .data-wrapper {
    flex-basis: 75%; }
  .counts-by-brand .counts-content .legend {
    margin-left: 5%;
    flex-basis: 25%;
    border: 1px solid black; }
    .counts-by-brand .counts-content .legend .legend-brand {
      display: flex;
      flex-direction: row;
      justify-content: stretch;
      padding: 1%; }
      .counts-by-brand .counts-content .legend .legend-brand:hover {
        cursor: pointer;
        background-color: #cccccc; }
      .counts-by-brand .counts-content .legend .legend-brand .brand-color {
        flex-basis: 10%;
        border: 1px solid black;
        margin-right: 5%; }
  .counts-by-brand .counts-content .coupon-stacked-tooltip {
    font-size: 12px;
    font-family: sans-serif; }

.active-over-time .data-buttons {
  margin-top: 200px; }
.active-over-time .loading {
  font-size: 100px; }
.active-over-time [class*="data-point"]:hover, .active-over-time [class*="legend-label"]:hover, .active-over-time [class*="legend-checkbox"]:hover {
  cursor: pointer; }

.date-range-render {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .date-range-render div {
    margin: 5px; }

#root, body, html {
  height: 100%;
  width: 100%; }

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch; }

a:visited {
  color: black; }

/*# sourceMappingURL=App.css.map */
